header {
  /*background-color: darkblue;*/
}

body.fullpage{
  /*background-color: darkblue;*/
  /*background-image: darkblue;*/
/*background-image: linear-gradient(to bottom, #FF00C9, #0097FF);*/
/*ba/*ckground-image: linear-gradient(to right, #13A947, #019033);*/

}

header {
text-align: center;
}

#topmain h1 {
  font-family: courier;
}

#topmain p {
  font-family: courier;
}

header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}
header p {
  margin: 5px;
  padding: 0px;
  font-size: 18px;
  font-size: 18px;
}

header #ibut {
  margin: 5px;
  padding: 5px;

}

#instructionsbutton {
  font-size: 12px;
}

button {
  font-family: courier;
}

button:hover{

  border-color: red;
  background-color: pink;
  border-width: 2px;


}

/*#topmain  h1{
  font-size: 40px;
  font-color: forestgreen;
  font-color: red;

}*/

#twoplayers{
  font-size: 20px;

}

#trivia-header {
  display: none;

}
#answersbox {
  display: none;
}
#next {
  display: none;
}


h1 #question {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

#label1 {
  font-family: courier;
  color: red;
}

#label2 {
  font-family: courier;
  color: green;
}

#label3 {
  font-family: courier;
  color: blue;
}

#label4 {
  font-family: courier;
  color: orange;
}

#nextbutton{
 /* margin: 5px;
  padding: 5px;*/
}

#playertwomode {
  display: none;
}

/*#end-scores {
  display: block;
}*/

#ibut p {
  font-size: 12px;
}

#winner {
  display: none;
  color: green;
  font-size: 60px;
}

#loser {
  display: none;
  color: red;
  font-size: 60px;
}

#totalscore {

}

#poneendscore {
color: blue;
font-family: courier;

}

#ptwoendscore {
color: orange ;
font-family: courier;
}
